<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arijit Singh</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <%- include('header') %>
  <h1>Arijit Singh</h1>
  <p>Arijit Singh, born on April 25, 1987, in Jiaganj, Murshidabad, India, is one of the most renowned playback singers in the Indian music industry. Known for his soulful voice and emotive renditions, Arijit rose to prominence with his breakout song "Tum Hi Ho" from the Bollywood film "Aashiqui 2" in 2013. Since then, he has delivered numerous chart-topping hits, captivating audiences with his melodious performances across various genres including romantic ballads, upbeat tracks, and soulful compositions.</p>
</body>
</html>
