<header>
  <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/Jeon Jung-kook">Jeon Jung-kook</a></li>
          <li><a href="/ Kim Tae-hyung">Kim Tae-hyung</a></li>
          <li><a href="/Nimrat Khaira">Nimrat Khaira</a></li>
          <li><a href="/Arijit Singh">Arijit Singh</a></li>
      </ul>
  </nav>
</header>
