
</head>
<body>
  <%- include('header') %>
  <h1>Welcome to the Home Page</h1>
  <!-- Add content specific to this page -->
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</html>
