<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jeon Jung-kook</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <%- include('header') %>
  <h1>Jeon Jung-kook</h1>
  <p>Jungkook, born Jeon Jung-kook on September 1, 1997, in Busan, South Korea, is a member of the renowned South Korean boy band BTS. As the youngest member, Jungkook plays a crucial role as the group's main vocalist, lead dancer, and sub-rapper. Since joining BTS in 2013, he has been an integral part of the group's meteoric rise to global fame. Known for his powerful vocals, exceptional dance skills, and charming personality, Jungkook has amassed a massive fanbase worldwide.</p>
</body>
</html>
