<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Kim Tae-hyung</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <%- include('header') %>
  <h1> Kim Tae-hyung</h1>
  <p>Kim Tae-hyung, better known by his stage name V, is a South Korean singer, songwriter, and actor, recognized as a member of the global sensation boy band BTS. Born on December 30, 1995, in Daegu, South Korea, V joined BTS as a trainee under Big Hit Entertainment and debuted with the group in June 2013. Known for his deep, captivating voice and charismatic stage presence, V has played a pivotal role in BTS's success, contributing his talents as a vocalist, dancer, and visual. His distinct vocal color and emotional delivery have garnered widespread praise, and his </p>
</body>
</html>
